@use "../abstracts/index" as *;
.dark-theme {
    --black: #ffffff;
    --white: #111d39;
    --rgba-black-1: #ffffff;
    --bg-black: rgba(255, 255, 255, 0.04);
    --line: rgba(255, 255, 255, 0.12);
    --line-2: rgba(255, 255, 255, 0.12);
    --line-3: rgba(255, 255, 255, 0.08);
    --shadow-1: 0px 3px 40px 0px rgba(26, 21, 40, 0.04);
    --rgba-blue: rgba(255, 255, 255, 0.2);
    --rgba-black: rgba(255, 255, 255, 0.7);
    --rgba-black-2: rgba(255, 255, 255, 0.5);
    --rgba-black-3: rgba(255, 255, 255, 0.5);
    --rgba-black-4: rgba(255, 255, 255, 0.15);
    --rgba-black-5: rgba(255, 255, 255, 0.7);
    --rgba-black-6: rgba(255, 255, 255, 0.32);
    --rgba-black-7: rgba(255, 255, 255, 0.92);
    --rgba-black-8: rgba(255, 255, 255, 0.2);
    --rgba-black-10: rgba(255, 255, 255, 0.2);
    --rgba-black-11: rgba(255, 255, 255, 0.04);
    --rgba-primary: rgba(255, 255, 255, 0.12);

    .tf-btn {
        &.disabled-primary,
        &.disabled-primary2 {
            background-color: rgba(255, 255, 255, 0.15);
            box-shadow: none;
        }
    }
    .header {
        svg path {
            stroke: #ffffff;
        }
    }
    .header-avt {
        .box-icon {
            svg path {
                stroke: #ffffff;
            }
        }
    }
    .search-box {
        .icon-left {
            svg path {
                stroke: #ffffff;
            }
        }
    }
    .footer-fixed {
        background-color: var(--blue);
    }
    .menubar-footer {
        .inner-bar {
            .action-add {
                background-color: #111d39;
            }
        }
        li:not(.active) {
            svg path {
                stroke: #ffffff;
            }
        }
        .active {
            svg path {
                fill: #ffffff;
            }
        }
    }
    .list-jobs {
        .job-item {
            background-color: rgba(255, 255, 255, 0.08);
        }
    }
    .card-review {
        background-color: rgba(255, 255, 255, 0.08);
        .bar {
            background: rgba(255, 255, 255, 0.2);
        }
    }
    .job-item {
        .more {
            svg path {
                stroke: #ffffff;
            }
        }
    }
    .box-noti {
        background-color: rgba(255, 255, 255, 0.08);
        .more svg path {
            stroke: #ffffff;
        }
    }
    .box-interest {
        background-color: rgba(255, 255, 255, 0.08);
        .check {
            opacity: 1;
            path {
                stroke: #ffffff;
            }
        }
    }
    .menu-tab-job .tab-link {
        color: rgba(255, 255, 255, 0.7);
    }
    .select-wrapper {
        svg path {
            stroke: #ffffff;
        }
    }
    .list-review {
        .review-item {
            background-color: rgba(255, 255, 255, 0.08);
        }
    }
    .box-uploadfile {
        svg path {
            stroke: #ffffff;
        }
    }
    .box-success {
        background-color: rgba(255, 255, 255, 0.08);
    }
    .input-icon,
    .ip-select {
        .icon {
            svg path {
                stroke: #ffffff;
            }
        }
    }
    .noUi-base {
        background-color: rgba(255, 255, 255, 0.2);
    }
    .salary-chart {
        span {
            background: rgba(255, 255, 255, 0.1);
            &.active {
                background: linear-gradient(180deg, #2869fe 0%, rgba(40, 105, 254, 0) 100%);
            }
        }
    }
    .list-recent-search {
        .item{
            svg path{
                stroke: #ffffff;
            }
        }
    }
}
