@use "../abstracts/index" as *;
.jstree-default {
    li,
    a {
        font-weight: 500;
    }
    .jstree-clicked,
    .jstree-wholerow-clicked {
        border-radius: 0;
        box-shadow: unset;
        background: none;
    }
}
