.tf-btn {
    padding: 16px;
    border-radius: 15px;
    @include flex(center, center);
    width: 100%;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid transparent;
    @include transition3;
    &.inline {
        width: auto;
    }

    // sizes
    &.btn-lg {
        border-radius: 18px;
    }
    &.btn-md {
        padding: 14px;
    }
    &.btn-sm {
        font-size: 14px;
        line-height: 24px;
        padding: 8px;
        border-radius: 12px;
    }
    // color
    &.primary {
        background-color: var(--primary);
        color: #fff;
        &:hover {
            background-color: var(--primary);
        }
    }
    &.disabled-primary {
        background-color: rgb(127, 82, 255, 0.1);
        color: var(--primary);
        &:hover {
            background-color: var(--primary);
            color: var(--white);
        }
    }
    &.white {
        background-color: var(--white);
        color: var(--primary);
    }
    &.surface {
        background-color: rgba(175, 179, 255);
        border: 1px solid transparent;
        color: rgba(255, 255, 255, 0.9);
        // &:hover {
        //     color: var(--primary);
        //     background: var(--white);
        // }
    }
    &.secondary {
        background: var(--white);
        border: 1px solid var(--line);
        color: var(--primary);
        &:hover {
            color: var(--white);
            background: var(--primary);
            border-color: var(--primary);
        }
    }
    &.success {
        background: var(--success);
        border: 1px solid var(--success);
        color: var(--white);
        &:hover {
            background: var(--success-hover);
        }
    }
    &.danger {
        background: var(--red);
        border: 1px solid var(--red);
        color: var(--white);
        &:hover {
            background: #e53a3a;
        }
    }
    &.danger-disabled {
        background-color: rgba(251, 85, 86, 0.1);
        border: 1px solid transparent;
        color: var(--red);
        &:hover {
            background-color: var(--red);
            color: var(--white);
        }
    }
    &.warning {
        background: var(--warning);
        border: 1px solid var(--warning);
        color: var(--white);
        &:hover {
            background: var(--warning-hover);
        }
    }
    &.info {
        background: var(--info);
        border: 1px solid var(--info);
        color: var(--white);
        &:hover {
            background: var(--info-hover);
        }
    }
    &.light {
        background: var(--light);
        border: 1px solid var(--light);
        color: var(--main);
        &:hover {
            background: var(--light-hover);
        }
    }
    &.dark {
        background: var(--dark);
        border: 1px solid var(--dark);
        color: var(--white);
        &:hover {
            background: var(--dark-hover);
        }
    }
    // &.disable {
    //     background: $disable;
    //     border: 1px solid transparent;
    //     color: var(--primary);
    // }
    &.light-btn-primary {
        background: var(--rgba-primary);
        border: 1px solid transparent;
        color: var(--primary);
        &:hover {
            background: var(--primary);
            color: var(--white);
        }
    }
    &.light-btn-success {
        background: var(--rgba-success);
        border: 1px solid transparent;
        color: var(--success);
        &:hover {
            background: var(--success);
            color: var(--white);
        }
    }
    &.light-btn-danger {
        background: var(--rgba-danger);
        border: 1px solid transparent;
        color: var(--danger);
        &:hover {
            background: var(--danger);
            color: var(--white);
        }
    }
    &.light-btn-warning {
        background: var(--rgba-warning);
        border: 1px solid transparent;
        color: var(--warning);
        &:hover {
            background: var(--warning);
            color: var(--white);
        }
    }
    &.light-btn-info {
        background: var(--rgba-info);
        border: 1px solid transparent;
        color: var(--info);
        &:hover {
            background: var(--info);
            color: var(--white);
        }
    }
    &.light-btn-dark {
        background: var(--rgba-dark);
        border: 1px solid transparent;
        color: var(--dark);
        &:hover {
            background: var(--dark);
            color: var(--white);
        }
    }
    &.outline-btn-primary {
        background: var(--white);
        border: 1px solid var(--primary);
        color: var(--primary);
        &:hover {
            background: var(--primary);
            color: var(--white);
            svg path {
                fill: var(--white);
            }
        }
    }
    &.outline-btn-success {
        background: var(--white);
        border: 1px solid var(--success);
        color: var(--success);
        &:hover {
            background: var(--success);
            color: var(--white);
        }
    }
    &.outline-btn-danger {
        background: var(--white);
        border: 1px solid var(--danger);
        color: var(--danger);
        &:hover {
            background: var(--danger);
            color: var(--white);
        }
    }
    &.outline-btn-warning {
        background: var(--white);
        border: 1px solid var(--warning);
        color: var(--warning);
        &:hover {
            background: var(--warning);
            color: var(--white);
        }
    }
    &.outline-btn-info {
        background: var(--white);
        border: 1px solid var(--info);
        color: var(--info);
        &:hover {
            background: var(--info);
            color: var(--white);
        }
    }
    &.outline-btn-light {
        background: var(--white);
        border: 1px solid var(--light);
        color: var(--black);
        &:hover {
            background: var(--light);
        }
    }
    &.outline-btn-dark {
        background: var(--white);
        border: 1px solid var(--dark);
        color: var(--dark);
        &:hover {
            background: var(--dark);
            color: var(--white);
        }
    }

    &.btn-square {
        border-radius: 0;
    }

    &.line {
        border: 1px solid var(--line);
    }

    &.btn-icon {
        gap: 8px;
        .icon {
            font-size: 20px;
        }
    }
    &.style-1 {
        padding-top: 14px;
        padding-bottom: 14px;
    }
}
.lg-zoom-in {
    display: none;
}

.btn-social {
    @include flex(center, center);
    color: var(--white);
    &:hover {
        color: var(--white);
    }
    &.twitter {
        background: #03a9f4;
    }
    &.x-social {
        background: var(--main);
    }
    &.instagram {
        background: linear-gradient(
                45deg,
                #fee411 11.93%,
                #fedb16 15.62%,
                #fec125 21.73%,
                #fe983d 29.55%,
                #fe5f5e 38.65%,
                #fe2181 47.46%,
                #9000dc 82.98%
            ),
            #03a9f4;
    }
    &.telegram {
        background: #039be5;
    }
    &.line {
        background: #00c200;
    }

    &.sm {
        width: 34px;
        height: 34px;
        font-size: 16px;
    }
    &.md {
        width: 38px;
        height: 38px;
        font-size: 16px;
    }
    &.lg {
        width: 42px;
        height: 42px;
        font-size: 20px;
    }
    &.rounded {
        border-radius: 10px !important;
    }
    &.circle {
        border-radius: 999px !important;
    }
}

.tf-loading {
    width: auto;
    display: inline-flex;
    gap: 10px;
    font-size: 16px;
    font-weight: 600;
    line-height: 21px;
    // color: var(--text-5);
    .spinner-circle {
        .spinner-child {
            &::before {
                // background-color: var(--text-5);
            }
        }
    }
}

.btn-invite {
    padding: 5px 15px;
    color: var(--rgba-black-3);
    border: 1px solid var(--line);
    border-radius: 9px;
    font-size: 12px;
    line-height: 24px;
    font-weight: 600;
    &.active {
        background-color: var(--primary);
        border-color: var(--primary);
        color: var(--white);
    }
}

.btn-add {
    border-radius: 10px;
    @include flex(center, center);
    height: 50px;
    .icon {
        font-size: 22px;
    }
}



$bgColor: #3a3d55;
$slideBgColor: rgba(255,255,255,0.3);
$slideBallColor: white;
$slideBallIconColor: black;
$slideTextColor: #ffffff;


@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin nonselect {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
	cursor: default;
}


#button-background {
	position: relative;
	background-image: radial-gradient(circle at 100% 46%, #21d2a3, #15adaf 102%);
	width: 335px;
  height: 54px;
	border: white;
	border-radius: 40px;
  @include center;
	&.bg-converted {
		background: white;
	}
}

.btn-swipe {
	transition: width 0.3s,
		border-radius 0.3s,
		height 0.3s;
	position: absolute;
	left: 8px;
	background-color: $slideBallColor;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	@include center;
}

.box-boarding-fixed {
    position: fixed;
    background-color: var(--primary);
    border-radius: 32px 32px 0px 0px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 28px 24px 32px;
    .title {
        padding-right: 40px;
        color: #fff;
    }
    .desc{
       margin-bottom: 30px; 
       color: #fff;
       opacity: 0.6;
    }
    .btn-start {
        position: relative;
        background-clip: padding-box;
        border: 2px solid transparent;
        background-color: #a281ff;
        border-radius: 34.5px;
        height: 68px;
        display: flex;
        align-items: center;
        gap: 34px;
        padding: 8px;
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            z-index: -1;
            margin: -2px;
            background-image: radial-gradient(
                131.5% 3432.86% at -27.22% 50%,
                #e60404 0%,
                #fb15f2 21.3%,
                #e1e1e1 44.73%,
                #17ffd5 63.48%,
                #73f90a 83.27%,
                #efdb22 100%
            );
            border-radius: inherit;
        }
        .icon {
            width: 48px;
            height: 48px;
            border-radius: 50%;
            background-color: #fff;
            @include flex(center, center);
        }
    }
    .button-1{
        color: #fff;
        margin-left: 80px;
    }
}
