// cards
.card {
    padding: 16px;
    border-radius: 16px;
    box-shadow: var(--shadow-7);
    border-color: transparent;
    background-color: var(--white);
    .card-header {
        background-color: transparent;
        padding: 0;
        border-color: transparent;
        .card-title {
            margin: 0;
        }
    }
    .card-body {
        padding: 0;
    }
}
.card-style1 {
    border-radius: 20px;
    padding: 20px;
    border: 1px solid var(--red);
}
.card-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 14px;
    padding: 8px;
    border-radius: 16px;
    box-shadow: 0px 10px 60px 0px #1a15281a;

    .gallery {
        display: grid;
        grid-template-areas:
            "item1 item2"
            "item3 item3";
        gap: 8px;
        .item-1 {
            grid-area: item1;
        }
        .item-2 {
            grid-area: item2;
        }
        .item-3 {
            grid-area: item3;
        }
    }
    .box-story {
        border: 1px solid var(--line);
        border-radius: 10px;
        overflow: hidden;
        .content {
            padding: 10px 0px 18px;
            display: flex;
            flex-direction: column;
            align-items: center;
            grid-area: 6px;
        }
    }
}
.card-nft {
    border-radius: 16px;
    box-shadow: 0px 4px 48px 0px #00000012;
    padding: 6px;
    display: inline-block;
    .box-img {
        padding-bottom: 0px;
        border-radius: 12px;
        overflow: hidden;
        position: relative;
        min-width: 144px;
    }
    .content {
        padding: 10px 6px 6px;
        .id-name {
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            color: var(--rgba-black-3);
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    .tag {
        border-radius: 7px;
        font-size: 12px;
        line-height: 20px;
        font-weight: 400;
        color: #fff;
        display: flex;
        align-items: center;
        gap: 4px;
        position: absolute;
        &.react {
            background-color: rgb(26, 21, 40, 0.15);
            right: 6px;
            top: 6px;
            padding: 0px 8px;
        }
        &.ethereum {
            bottom: 6px;
            left: 50%;
            transform: translateX(-50%);
            background-color: rgb(26, 21, 40, 0.32);
            padding: 0px 10px;
        }
    }
}
.category-nft {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    .box-img {
        padding: 6px;
        border-radius: 8px;
        overflow: hidden;
        background-color: var(--rgba-primary);
        img {
            border-radius: 8px;
        }
    }
    span {
        font-size: 14px;
        line-height: 24px;
        font-weight: 500;
        color: var(--black);
    }
}
.card-nft-1 {
    border-radius: 16px;
    box-shadow: var(--shadow-6);
    background-color: var(--white);
    .card-header {
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        svg {
            @include transition4;
        }
        &:not(.collapsed) {
            svg {
                &:not(.not) {
                    transform: rotate(-180deg);

                    path {
                        stroke: var(--primary);
                    }
                }
            }
        }
    }
    .card-body {
        padding: 20px 0px;
        border-top: 1px solid var(--line-3);
        margin: 0 20px;
        &.wrap-chart {
            box-shadow: unset;
            border-radius: 0;
            img{
                width: 248px;
            }
        }
    }
}

.card-nft-2 {
    background-color: var(--white);
    border-radius: 16px;
    .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;
        border-bottom: 1px solid var(--line);
        @include transition3;

        .content-left {
            span {
                opacity: 0.8;
            }
            .icon {
                font-size: 28px;
                color: var(--black);
            }
        }
        .less {
            display: none;
        }
        &:not(.collapsed) {
            padding: 16px 0px;
            margin-left: 16px;
            margin-right: 16px;

            .content-left {
                span {
                    color: var(--primary);
                }
            }
            .more {
                display: none;
            }
            .less {
                display: block;
            }
        }
    }
    .card-body {
        padding: 16px 40px;
        display: flex;
        justify-content: space-between;
    }
    .box-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &:has(.show) {
        box-shadow: var(--shadow-6);
    }
    &.style-2 {
        .card-body {
            padding: 16px;
        }
    }
    &.style-3 {
        .card-body {
            padding: 16px 60px;
        }
    }
}

.card-layout {
    box-shadow: var(--shadow-4);
    padding-bottom: 32px;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    background-color: var(--white);
    &.style-2 {
        padding-bottom: 28px;
    }
}

.card-banner-1 {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card-banner-2 {
    position: relative;
    border-radius: 24px;
    overflow: hidden;
    display: block;
    img {
        height: 327px;
        width: 100%;
        object-fit: cover;
    }
    .box-top {
        position: absolute;
        @include flex(center, space-between);
        left: 20px;
        top: 20px;
        right: 20px;
        .tag {
            padding: 3px 20px;
            border-radius: 8px;
            background-color: var(--rgba-black-5);
        }
        .box-heart {
            background-color: var(--rgba-white);
            border-radius: 50%;
            .icon {
                font-size: 22px;
                color: #fb5556;
            }
        }
    }
    .box-bottom {
        position: absolute;
        bottom: 16px;
        left: 16px;
        right: 16px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .tag {
            padding: 4px 12px;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            background-color: var(--rgba-black-6);
        }
        .content {
            width: 100%;
            background-color: rgba(26, 21, 40, 0.32);
            padding: 12px;
            backdrop-filter: blur(12px);
            border-radius: 16px;
            border-top-left-radius: 0;
            .countdown__timer {
                display: flex;
                gap: 4px;
            }
        }
    }
}

.box-wallet-1 {
    display: inline-flex;
    gap: 16px;
    align-items: center;
    padding: 16px;
    box-shadow: var(--shadow-7);
    background-color: var(--white);
    border-radius: 16px;
    img {
        width: 40px;
        height: 40px;
    }
    .line {
        width: 56px;
        height: 1px;
        background-color: var(--black);
        opacity: 0.25;
    }
}
.box-wallet-2 {
    display: inline-flex;
    align-items: center;
    padding: 20px;
    box-shadow: var(--shadow-7);
    background-color: var(--white);
    border-radius: 16px;
    img {
        width: 70px;
        height: 70px;
    }
}

.box-wallet-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    border-color: transparent;
    box-shadow: var(--shadow-7);
    background-color: var(--white);
    padding: 12px;
    border-radius: 16px;
    .content {
        flex-grow: 1;
        color: var(--black);
        letter-spacing: 0.2px;
        font-size: 16px;
        line-height: 22px;
        font-weight: 600;
    }
    .box-icon {
        flex-shrink: 0;
    }
}

.box-ip-field-val {
    position: relative;
    img {
        position: absolute;
        left: 12px;
        top: 50%;
        transform: translateY(-50%);
        width: 28px;
        height: 28px;
        border-radius: 6px;
    }
    .group-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        gap: 12px;
        right: 12px;
    }
    input {
        padding: 14px;
        padding-left: 56px;
        padding-right: 48px;
    }
}

.card-wallet-1 {
    border-radius: 16px;
    background-color: var(--white);
    padding: 20px;
    box-shadow: var(--shadow-6);
    .card-header {
        display: flex;
        align-items: center;
        gap: 12px;
        padding-bottom: 20px;
        margin-bottom: 16px;
        border-bottom: 1px solid var(--line-3);
        .icon {
            font-size: 24px;
        }
    }
}
