.tab-content > .tab-pane {
    display: none;
    // transition: all 0.2s;
    // transform: translateX(1rem);
}
.tab-content > .active {
    display: block;
    // transform: translateX(0rem);
}

.fade:not(.show) {
    opacity: 0;
}
.fade {
    transition: opacity 0.15s linear;
}
.nav-tabs {
    border-bottom: 0;
}

.nav-item {
    .nav-link {
        // color: var(--primary-btn);
        font-weight: 600;
        &.active {
            background: var(--primary);
            color: #fff;
            border-color: var(--primary);
            border-bottom-color: transparent;
        }
        &.disabled {
            color: var(--black);
        }
        &:hover {
            border-color: transparent;
        }
    }
}

.wrapper-tab {
    background-color: var(--rgba-black-4);
    border-radius: 16px;
    padding: 5px;
}

.tab-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    z-index: 1;
    .nav-link {
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
        color: var(--rgba-black-3);
        padding: 12px 0px;
        text-align: center;
        border-radius: 12px;
        letter-spacing: 0.2px;
        margin: 0;
        &:hover,
        &:focus {
            background-color: transparent;
            border-color: transparent;
            border-radius: 12px;
        }
        &.active {
            background-color: var(--primary);
            border-color: var(--primary);
            border-radius: 12px;
            color: #fff;
        }
    }
}
.item-slide-effect {
    position: absolute;
    height: 100%;
    z-index: -1;
    background-color: var(--primary);
    border-radius: 12px;
    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}

.wrapper-tab-nft {
    .tab-1 {
        background-color: var(--rgba-black-4);
        border-top-left-radius: 16px;
        border-bottom-left-radius: 16px;
        padding-right: 24px;
        margin-right: -24px;
        padding: 5px;
        overflow: auto;
        display: flex;
        flex-wrap: nowrap;
        z-index: 1;
        gap: 16px;
        .nav-link {
            padding: 5px 10px;
            border-radius: 12px;
            font-size: 14px;
            line-height: 24px;
            white-space: nowrap;
        }
    }
    &.style-2 {
        .nav-link {
            padding: 5px 15px;
        }
    }
}
// .wrap-slider-tab{
//     padding-right: 24px;
//     margin-right: -24px;
// }
