//settings
$font-main-family: "Urbanist", serif;
$font-2: "Saira", sans-serif;
$fontIcon: "icomoon";
$fz-btn: 16px;
$lh-btn: 24px;

:root {
    // primary
    --blue: #2869FE;
    --blue-2: #5387FE;
    --blue-3: #7EA5FE;
    --blue-4: #A9C3FF;
    --blue-5: #D4E1FF;
    --violet: #7C66FF;
    --pest-2: #9685FF;
    --pest-3: #B0A3FF;
    --pest-4: #CAC2FF;
    --pest-5: #E5E0FF;
    // secondary
    --violet: #A55FFF;
    --bright-green: #5FCF80;
    --green: #00CC9A;
    --pink: #FF5FBF;
    --yellow: #FFC24A;
    --red: #FA4848;
    --gray: #D2D2D2;
    --dark-blue: #063EBC;
    // state 
    --info: #2F80ED;
    --success: #27AE60;
    --warning: #E2B93B;
    --error: #EB5757;
    // text
    --black: #121927;
    --black-2: #111D39;
    --white: #FFFFFF;


}
